a {
  padding: 2px;
  margin-top: -10px;
}

h1 {
  text-align: left;
  opacity: 1;
  text-shadow: 0 0 10px darkgrey;
  font-size: 1.5em;
  padding: 0 2px;
}

#addAFiller{

}

#address {
  float: left;
  width: 90%;
}


#log button{
  display: inline-block;
  width: 50px;
  height: 3em;
  border-radius: 5px;
  font-size: 12px;
  padding: 0 4px;
  position: absolute;
  right:0;
  top: 0;
  margin: 1.8em 10px;
}

#description {
  background-color: lightgrey;
  padding: 10px;
  max-width: 50%;
  margin: 0 auto;
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  background: rgba(174, 174, 174, .5);
}

#divOverSearch {
  width:60%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 37%;
}

#enterAddress{
  font-size: 12px;
}

#map {
  background-color: lightblue;
  width: 100%;
  height: 600px;
  border: 1px solid grey;
  box-shadow: 0 0 30px grey;
  margin: 0 auto;
  padding-left: 20px;
  max-width: 1000px;
}

#searchBar {
  margin-bottom: 20px;
  align-items: left;
  width: 100%;
  margin-top: .5em;
  margin-left: 10px;
  margin-right: 0;
  display: inline-block;
}

#searchBar button {
  width: 50px;
  height: 3em;
  border-radius: 7px;
  float: left;
  margin-top: 15px;
  margin-left: 3px;
}

#searchBar input {
  height: 2em;
  width: 70%;
  border-radius: 10px;
  margin-top: 2em;
}

#slogan {
  width: 35%;
  margin: 0 auto;
  padding: 1em 0 0 10px;
  display: inline-block;
  float: left;
  margin-left: 2%;
}

#topPage{
  width: 100%;
  position: absolute;
  top:0;
  right:0;
  background-color: lightblue;
  box-shadow: 0 0 5px grey;
  /* background : url('/images/images.jpg') */

  #A9DDE8;
  /* animation: changeSize 4s linear;
}

/*
  @keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }

  @keyframes changeSize {
      0% {margin-left: -20px; width: 100%; height:100%; margin-left: -20px}
      100% {margin-right:10%; width: 100%; height: 15%; margin-left: 10%}
  } */

}



#bottomPage{
  background-color: #efeeff;
  width: 80%;
  border-radius: 20px;
  position: absolute;
  top:0;
  margin-left: 10%;
  margin-right:10%;
   /* border-radius: 50px; */
  margin-top: 120px;
}
