a {
  padding: 2px;
  margin-top: -10px;
}

h1 {
  text-align: left;
  opacity: 1;
  text-shadow: 0 0 10px darkgrey;
  font-size: 1.5em;
  padding: 0 2px;
}

#address {
  float: left;
  width: 90%;
}

#divOverSearch {
  width:60%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 37%;
}

#enterAddress{
  font-size: 12px;
}

#log button{
  display: inline-block;
  width: 50px;
  height: 3em;
  border-radius: 5px;
  font-size: 12px;
  padding: 0 4px;
  position: absolute;
  right:0;
  top: 0;
  margin: 1.8em 10px;
}

#map {
  height: 600px;
  border: 1px solid grey;
  box-shadow: 0 0 30px grey;
  margin: 0 auto;
  margin-top: 130px;
  width: 70%;
  min-width: 500px;
  border-radius: 10px;
}

#searchBar {
  margin-bottom: 20px;
  align-items: left;
  width: 100%;
  margin-top: .5em;
  margin-left: 10px;
  margin-right: 0;
  display: inline-block;
}

#searchBar button {
  width: 50px;
  height: 3em;
  border-radius: 7px;
  float: left;
  margin-top: 15px;
  margin-left: 3px;
}

#searchBar input {
  height: 2em;
  width: 70%;
  border-radius: 10px;
  margin-top: 2em;
}

#slogan {
  width: 35%;
  margin: 0 auto;
  padding: 1em 0 0 10px;
  display: inline-block;
  float: left;
  margin-left: 2%;
}

#topPage{
  width: 100%;
  position: absolute;
  top:0;
  right:0;
  background-color: #b4e1f7;
  box-shadow: 0 0 5px grey;
}
