body {
  background-color: #8fbaf3;
}


#map {
  background-color: lightblue;
  width: 80%;
  height: 600px;
  border: 1px solid grey;
  box-shadow: 0 0 30px grey;
  margin: 0 auto;
}

#header {
  text-align: center;
  padding-top: 2em;
}

h3 {
  padding-bottom: 2.5em;
  font-family: "Cabin", sans-serif;
}

h1 {
  font-family: "Merienda", sans-serif;
}
