/* this is organized!!! */
a{ text-decoration: none;}
a#homeButton:visited{
  color:black;
}

body {
  background-color: #DBF3FF;
}

h1 {
  font-family: "Merienda", sans-serif;
  text-shadow: 0 0 20px antiquewhite;
}

h3 {
  font-family: "Cabin", sans-serif;
  font-size: 12px;
}

#innerbox {
  position: absolute;
  left:0;
  top:0;
  /* background-color: rgba(255, 255, 255, .6); */
  padding: 1px;
  /* box-shadow: 0 0 40px rgb(255, 255, 255); */
  text-align: center;
  /* border-radius: 10px; */
  width: 200px

}

/* #titleStyle {
  width: 20%;
  border-radius: 10px;

} */
