<!DOCTYPE html>
<link rel='stylesheet' href='stylesheets/style.css' />
<title>Add a Filler!</title>




































<form action="/add" method="post">
  Location (approximate street address, city, state):<input name='location'><br><br>
  Company (if known):<input name='company'><br><br>
  Type:
  <select name="fountain">
    <option value="Water Fountain">Water Fountain</option>
    <option value="Bottle Filler">Bottle Filler</option>
    <option value="Gallon Filler">Gallon Filler</option>
  </select><br><br>
  Description of filler (the more info, the better!):<input name='description'><br><br>
  <input type="submit" value="Add Filler!"/>
</form>
<!-- form does not push to the right place yet -->
