<!DOCTYPE html>
<meta charset='utf-8' />
<link rel='stylesheet' href='/stylesheets/style.css'/>
<link href="https://fonts.googleapis.com/css?family=Cabin|Merienda" rel="stylesheet">
<title> {{ filler.name}} </title>

<div id='header'>
  <h1> Filler Finder </h1>
  <h3> Information for "{{ filler.name }}": </h3>
</div>

<div id='description'>
  <p><u>Location:</u>  {{ filler.location }} </p>
  <p><u>Type:</u> {{ filler.type }} </p>
  <p><u>Company:</u> {{ filler.company }}</p>
  <p><u>Description:</u> {{ filler.description }} </p>
</div>


<div id='minimap'>
  <script>
  let API_KEY = 'AIzaSyADULoh4vZX2MsZs4SAgpTgOaXPbjsCNBA';
  let geocoder;

  function initMap() {
    geocoder = new google.maps.Geocoder();
    //Initial location
    let location = {lat: 37.7749, lng: -122.4194};

    //The map
    let map = new google.maps.Map(document.querySelector('#minimap'), {
        zoom: 18,
        center: location,
      });

  //console.log(filler.location);

    geocoder.geocode( { 'address': "{{ filler.location }}" }, function(results, status) {
          map.setCenter(results[0].geometry.location);
      });

    //Custom Marker image(s)
    let icon = "/images/Water_Droplet_Pin.png";

    //Create markers using location_list
      let marker = new google.maps.Marker({
        position: feature.position,
        icon: icon,
        map: map,
      });
  }

  function codeAddress(geocoder, map) {
    geocoder.geocode( { 'address': filler.location}, function(results, status) {
          map.setCenter(results[0].geometry.location);
      });
  }
</script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADULoh4vZX2MsZs4SAgpTgOaXPbjsCNBA&callback=initMap">
  </script>
</div>
