<!DOCTYPE html>
<meta charset='utf-8' />
<link rel="icon" href="/images/droplet.png">
<link rel='stylesheet' href='/stylesheets/style.css'>
<link rel='stylesheet' href='/stylesheets/home.css'>
<link href="https://fonts.googleapis.com/css?family=Cabin|Merienda" rel="stylesheet">
<title>FillerList</title>

<style>
  #box {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1000px;
  }

  .filler {
    background: lightgray;
    padding: 10px;
    margin-right: 50px;
    flex-grow: 1;
  }

  .link {
    background: darkgray;
    padding: 10px;
  }

  h2 {
    font-family: "Cabin", sans-serif;
    margin: 0 auto;
    max-width: 1000px;
  }

  p {
    font-family: "Cabin", sans-serif;
    margin: 0 auto;
    max-width: 1000px;
  }

</style>

<div id='topPage'>
  <!-- TITLE -->
  <div id='titleStyle'>
    <a id='homeButton' href='/' >
    <div id='innerbox'>
      <h1>💧 Filler Finder </h1>
    </div>
  </a>
</div>
  <div id='slogan'>
    <h3> Save the planet, one plastic bottle at a time! </h3>
  </div>
  <!--LOGIN BUTTON -->
  <div id='log'>
    {% if not current_user %}
      <a href = "{{login_url}}">
        <button> Login </button>
      </a>
    {% else %}
      <a href = "{{logout_url}}">
        <button> Logout </button>
      </a>
    {% endif %}
  </div>
</div>

<div id='menu'>
<ul>
  <li><a href="/">Home</a></li>
  <li>Filler List</li>
  <li><a href="/add">Add Filler!</a></li>
  <li><a href="/about">About</a></li>
</ul>
</div>

<br><br><br><br><br>

<h2> Filler Index </h2> <br>
<p> (a list of all the fillers in our database -- click on the marker icon to be redirected to that filler's page!) </p>
<br>
{% for filler in filler_list %}
<ul>
  <div id="box">
    <div class="link">
      <a href="/description?key={{ filler.key.urlsafe() }}">
        <img src="/images/Water_Droplet_Pin.png">
      </a>
    </div>
    <div class="filler">
      {{ filler.name }}
      <br>
      -{{ filler.location }}
      <br>
      -{{ filler.type }}
    </div>
  </div>
</ul>
{% endfor %}
