<!DOCTYPE html>
<meta charset='utf-8' />
<title>FillerFinder</title>
<link rel="icon" href="/images/droplet.png">
<link rel='stylesheet' href='/stylesheets/style.css'>
<link rel='stylesheet' href='/stylesheets/home.css'>
<link href="https://fonts.googleapis.com/css?family=Cabin|Merienda" rel="stylesheet">

<style>

  #menu {
    position: fixed;
    right: -15px;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 20px;
    padding-right: 10px;
    margin-right: -5px;
    font-family: "Cabin", sans-serif;
  }

</style>

<br>

<div id='menu'>
<ul>
  <li> Home </li>
  <li><a href="/index">Filler List</a></li>
  <li><a href="/add">Add Filler!</a></li>
  <li><a href="/about">About</a></li>
</ul>
</div>

<div id='topPage'>

  <!-- TITLE -->
  <div id='titleStyle'>
    <a id='homeButton' href='/' >
    <div id='innerbox'>
      <h1>💧 Filler Finder </h1>
    </div>
  </a>

  </div>

  <!--LOGIN BUTTON -->
  <div id='log'>
    {% if not current_user %}
      <a href = "{{login_url}}">
        <button> Login </button>
      </a>
    {% else %}
      {{current_user.email()}}
      <a href = "{{logout_url}}">
        <button> Logout </button>
      </a>
    {% endif %}
  </div>
</div>


<div id='slogan'>
  <h3 align="center"> Find the nearest water bottle filling station and save the planet,
    one plastic bottle at a time! </h3>
</div>

<!-- SEARCH BAR -->
<div id='divOverSearch'>
  <div id='searchBar'>
    <input id='address' type='text' placeholder='Search'>
    <button id='enterAddress'> Find! </button><br><br>

    <h3> or <a href="/index">See Filler List</a>! </h3>
  </div>
</div>

<!-- Prints map & list of locations in html to be converted to marker w/ JS -->
<div id='map'>
<script src = '/scripts/map.js'> </script>
    <!-- Places marker based on the database -->
    <script>
    // Places marker for each filler in datastore
      function markerPlacement() {
        let marker;
        {% for filler in filler_list %}

          // Uses jinja2 to use relevant values from each filler while in html
          marker_key = "/description?key={{ filler.key.urlsafe() }}";
          placeMarker(geocoder, map, '{{filler.location}}', marker_key);

        {% endfor %}
      }
    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADULoh4vZX2MsZs4SAgpTgOaXPbjsCNBA&callback=initMap">
    </script>
</div>
